<h1><%=@title%></h1>
<p><%=@message%></p>
<p><%= link_to "Throw Rock", '/throw/rock' %></p>
<p><%= link_to "Throw Paper", '/throw/paper' %></p>
<p><%= link_to "Throw Scissors", '/throw/scissors' %></p>
<p><%= link_to "View Stats", '/stats' %></p>
